nav {
	background-color: #0A162F;
	margin-bottom: 20px;
}

nav .brand-logo i {
	margin-left: 25px;
}

body {
	background-color: #22335A;
	color: #fff;
}

.rc-border {
	background-color:  #8F6B35;
}

.margin-container {
	margin-bottom: 20px;
}

.small-container {
	padding-right: 45px;
	padding-left: 45px;
}

.small-img {
	height: 50px;
	width: 50px;
}
.medium-img {
	height: 50px;
	width: 50px;
}

.underline {
 	border-bottom: 2px solid #233659;
}

input {
	color: #fff;
}

input[type=text], input[type=password], input[type=email] {
	border-bottom: 2px solid #233659;
}
input[type="email"]::-webkit-input-placeholder {
  color: orange;
}
input[type=text]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label {
	color: #22335A;
}
input[type=text]:focus:not([readonly]){
	border-bottom: 1px solid #22335A;
	box-shadow: 0 1px 0 0 #22335A;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;
}

:-ms-input-placeholder {
   color: red;
}
