
* {
	box-sizing: border-box;
}

.landing {
  position: relative;
  background-color: #0A162F;
  height: 102vh;
  margin-bottom: 25px;
  border-bottom: 10px solid #5d5d5d;
  padding-left: 30px;
}
.overlay {
   top: 0;
   left: 50vw;
   position: absolute;
   height: 100.6vh;
   width: 50vw;
   background-color: #000;
   opacity: 0.5;
   padding: 15px;
}

.bottom-justified {
  position: absolute;
  bottom: 10vh;
  left: 3vw;
  font-size: 4vw;
}

.top-justified {
  position: absolute;
  top: 0;
  font-size: 3vw;
}
.font-small {
	font-size: 1vw;
}

@media( max-width: 1150px){
	.overlay {
		width: 100vw;
		height: 48.6vh;
		left:0;
		top: 52vh;
	}

	.bottom-justified {
	  top: 0;
	  padding: 15px;

	}
}

@media( max-width: 1149px){

	.font-small {
		font-size:2vh;
	}
}

@media( max-width: 690px){

	.font-small {
		font-size: 2vh;
	}
}

@media( max-width: 570px){
	.font-small {
		font-size: 2vh;
	}
	.top-justified {
	  font-size: 6vw;
	}
}
@media( max-width: 569px){
	.font-small {
		font-size: 1.7vh;
	}
}



body {
	background-color: #22335A;
	color: #fff;
}

.rc-border {
	background-color:  #8F6B35;
}

.margin-container {
	margin-bottom: 20px;
}

.small-container {
	padding-right: 45px;
	padding-left: 45px;
}

.small-img {
	height: 50px;
	width: 50px;
}
.medium-img {
	height: 50px;
	width: 50px;
}

.underline {
 	border-bottom: 2px solid #233659;
}

input {
	color: #fff;
}

input[type=text], input[type=password], input[type=email], textarea.materialize-textarea {
	border-bottom: 2px solid #fff;
}

input[type=text]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #fff;
}
input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}

#status {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btn {
	background-color: #22335A;
}

.btn:hover {
	background-color: #5d5d5d;
}
.btn:focus {
	background-color: #5d5d5d;
}

.input-field label {
	color: #fff;
}

.blue-box {
	border: 2px solid #01579b;
}

.red-box {
	border: 2px solid #e57373;
}
