nav {
	background-color: #0A162F;
	margin-bottom: 20px;
}

nav .brand-logo i {
	margin-left: 25px;
}

body {
	background-color: #22335A;
	color: #fff;
}

.rc-border {
	background-color:  #8F6B35;
}

.margin-container {
	margin-bottom: 20px;
}

.small-container {
	padding-right: 45px;
	padding-left: 45px;
}

.small-img {
	height: 50px;
	width: 50px;
}
.medium-img {
	height: 50px;
	width: 50px;
}

.underline {
 	border-bottom: 2px solid #233659;
}

input {
	color: #fff;
}

input[type=text], input[type=password], input[type=email], textarea.materialize-textarea {
	border-bottom: 2px solid #fff;
}

input[type=text]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #fff;
}
input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}

.btn {
	background-color: #22335A;
}

.btn:hover {
	background-color: #5d5d5d;
}

.input-field label {
	color: #fff;
}

.blue-box {
	border: 2px solid #01579b;
}

.red-box {
	border: 2px solid #e57373;
}
